<!DOCTYPE html>
<html lang="en">

<head>
	<title>Student database</title>
	<meta charset="utf-8" />
	{% load staticfiles %}	
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
			height : 100%
		}
		form { 
	    	margin-top : 10px; 
		} 
		.errorlist {
			color: red;
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			<div class="col-xs-4">
					<a href='/'>
						<h3> <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Student Database</h3>
					</a>
			</div>
			<div class='col-xs-8' align="right">
				<p>
					{% if request.user.is_authenticated %}
						<b>{{ request.user.username }} | <a href='/logout/'>Logout</a></b>
						<!--<a href='/logout/'>
						<p>Logout</p>
						</a>-->
					{% endif %}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
					<!--<ul class="nav nav-pills nav-stacked">
						<li><a href='/'>Home</a></li>			
					</ul>-->
					<!--<ul class="nav nav-pills nav-stacked">
						{% if description %}
							<li>{{description}}</li>
						{% endif %}
					</ul>-->
					<!--<ul class="nav nav-pills nav-stacked">
					{% if request.path == the_url_group %}
						<li>Group</li>
					{% elif request.path == the_url_student %}
						<li>Student</li>
					{% else %}
						<li>Home</li>
					{% endif %}
					</ul>-->
				{% block description %}{% endblock description %}
				</div>
				{% block options %}{% endblock options %}
			</div>
			<div class="col-sm-9">		  
				<div class='container-fluid'>
					{% block content %}{% endblock content %}
				</div>
			</div>
		</div> 
	</div>
	<footer>		
	</footer>	
</body>
</html>
