{% extends "header.html" %}

{% block description %}
    <p><b>Home page</b></p>
    <ul>
        <li>Look through groups list</li>
        <li>Create new group</li>
    </ul>
{% endblock description %}

{% block options %}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#group"> New Group</a></li>
    </ul>

    <div class="tab-content">
        <div id="group" class="tab-pane fade in active">
            {% include "includes/groupform.html" %}
        </div>
    </div>

{% endblock options %}

{% block content %}
	{% include "includes/grouptable.html" %}
{% endblock content %}



	
