{% extends "header.html" %}

{% block description %}
    <p><b>Student {{object.name}}</b><a href="{% url 'update_group' student.group.id %}"> Group {{student.group.name}}</a></p>
    <ul>
        <li>Change student data</li>
        <li>Look through group {{student.group}} list</li>
    </ul>
{% endblock description %}

{% block options %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#student">Update Student</a></li>
    </ul>

    <div class="tab-content">
        <div id="student" class="tab-pane fade in active">
            {% include "includes/upd_studentform.html" %} 
        </div>
    </div>
{% endblock options %}

{% block content %}
	{% include "includes/studenttable.html" %}
{% endblock content %}