<form action ="" method = "post" novalidate> {% csrf_token %}
    <div class="form-group">
        <!--{{form.as_p}}-->
        {{ form.non_field_errors }}
        <p>{{form.username.label_tag}}{{form.username}}</p>
        {{ form.username.errors }}
        <p>{{form.password.label_tag}}{{form.password}}</p>
        {{ form.password.errors }}
        <p>{{form.email.label_tag}}{{form.email}}</p>
        {{ form.email.errors }}
        <p>{{form.email2.label_tag}}{{form.email2}}</p>
        {{ form.email2.errors }}
    </div>
    <button type="submit" class="btn btn-info">{{title}}</button>
</form>
