<table class="table">
	<thead>
		<tr>
			<th>Group name</th>
			<th>Number of Students</th>
			<th>Head</th>
		</tr>
	</thead>
	<tbody>
		{% for group in object_list %}
			<tr>
				<td><a href="{% url 'update_group' group.id %}"> {{group.name}}</a></td>
				<td>{{ group.get_student_count }}</a></td>
				{% if group.head %}
				<td><a href="{% url 'update_student' group.head.id %}"> {{group.head.name}}</a></td>
				{% else %}
				<td></td>				
				{% endif %}
			</tr>	
		{% endfor %}
	</tbody>
</table>
