<table class="table">
	<thead>
		<tr>
			<th>Student Name (Group {{view.group.name}}) </th>
			<th>Birth Date</th>
			<th>Ticket</th>
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
			<tr>
				{% if pk %}
					<td><font color="FF00CC">{{student.name}}</font></td>
				{% else %}
					<td><a href="{% url 'update_student' student.group.id student.id %}">{{student.name}}</a></td>
				{% endif %}
				<td>{{student.brd_date}}</td>
				<td>{{student.ticket}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
