<form action ="" method = "post"> {% csrf_token %}
    <div class="form-group">
        <!--<label for="Student">Student</label>-->
        {% load widget_tweaks %}
        <p>{{form.group.label_tag}}{{form.group}}</p>
        <p>{{form.name.label_tag}}{{form.name}}</p>
        <p>{{form.brd_date.label_tag}}{{form.brd_date|attr:"type:date"}}</p>
        <p>{{form.ticket.label_tag}}{{form.ticket}}</p>
    </div>
    <button type="submit" class="btn btn-info">Update</button>
</form>
<form action="{% url 'delete_student' pk %}" method="post"> {% csrf_token %}
    <input type="hidden" name="delete_student">
    <button type="submit" class="btn btn-danger">Delete!</button>
</form>