<form action ="" method = "post"> {% csrf_token %}
    <div class="form-group">
        <!--<label for="Student">Student</label>-->
        {% load widget_tweaks %}
        {{form.group}}
        {{form.name}}
        {{form.brd_date|attr:"type:date"}}
        {{form.ticket}}
    </div>
    <button type="submit" class="btn btn-info">Update</button>
</form>
<form action="{% url 'delete_student' pk %}" method="post"> {% csrf_token %}
    <input type="hidden" name="delete_student">
    <button type="submit" class="btn btn-danger">Delete!</button>
</form>